// $accentColor: #fc9e4c;
$accentColor: #FB9C1A;
$mainFontColor: rgba(0, 0, 0, 0.7);
$greenColor: #4ebd6f;
$darkColor: #222831;
$mainFont: "Roboto", sans-serif;
$titleFont: "Roboto Slab", serif;
$montserratFont:'Montserrat', sans-serif;
